.main {
  height: 100%;
  background: var(--bg-light-black);
}

.main h1 {
  color: var(--second-color);
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.addChampDiv {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.addChampDiv button {
  background-color: var(--purple-light-color);
  border: none;
  color: var(--second-color);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}

.addChampDiv button:hover {
  background-color: rgb(102, 81, 170);
  transition: all 0.2s;
}

.cardsChampList {
  margin-top: 50px;
  list-style: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
