.main {
  background-image: url("../assets/images/project-vayne-lol-league-of-legends-y5327.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10px;
  height: 500px;
  color: var(--second-color);
}

.favoritesTitleSection {
  min-height: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--second-color);
}

.pictureContainer {
  overflow: hidden;
}

.topChampsSectionTitle {
  margin-top: 40px;
  text-align: center;
}

.topChampsDiv {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 400px;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 950px) {
  .topChampsDiv {
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .main {
    background-position: center;
  }
}
