.main {
  background-image: url("../assets/images/project-vayne-lol-league-of-legends-y5327.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10px;
  height: 500px;
  color: var(--second-color);
}

.favoritesTitleSection {
  min-height: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--second-color);
}

.favoritesTitleSection h1 {
  font-size: 22px;
  letter-spacing: 3px;
}

.pictureContainer {
  overflow: hidden;
}

.topChampsSectionTitle {
  display: flex;
  align-content: center;
  justify-content: center;
}

.topChampsSectionTitle > div {
  text-align: center;
  margin-top: 50px;
  background: var(--purple-light-color);
  color: var(--second-color);
  border-radius: 5px;
  padding: 12px 15px;
  width: 60%;
  box-shadow: 0 6px 12px rgba(77, 97, 128, 0.25);
}

.topChampsDiv {
  padding: 60px 0 35px 0;

  min-height: 400px;
  column-gap: 20px;
  row-gap: 40px;
}

.topChampsList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.accessFavsDeslog {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
  box-shadow: 2px 3px 15px rgba(73, 87, 99, 0.25);
  padding: 40px 0;
}

.loginAccess {
  background: var(--main-color);
  border-radius: 5px;
}

.secondSection {
  background: var(--bg-light-black);
  height: 100%;
}

@media (max-width: 950px) {
  .topChampsDiv {
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .main {
    background-position: center;
  }
}
