.cardBackGround {
  background-color: var(--purple-light-color);
  width: 250px;
  color: var(--second-color);
  border-radius: 2px;
  box-shadow: 0px 6px 15px rgba(66, 70, 75, 0.25);
  transition: all 0.25s;
  cursor: pointer;
}

.cardBackGround:hover {
  box-shadow: 0px 6px 15px rgba(66, 70, 75, 0.45);
  transition: all 0.25s;
}

.divContainer {
  max-width: 100%;
  width: 100%;
}

.text {
  text-align: center;
  padding: 10px 20px;
}
