.header {
  background-color: var(--main-color);
  height: 80px;
  min-height: 80px;
  color: var(--second-color);
  text-transform: capitalize;
}

.flexItemContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #e1e1e6;
  transition: all 0.25s;
  height: 78px;
  display: flex;
  align-items: center;
}

.nav a:hover {
  transition: all 0.25s;
  color: #737380;
  border-bottom: 2px solid #8257e5;
}

.nav .aActive {
  border-bottom: 2px solid #8257e5;
}

.profileDiv {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profilePicture {
  width: 52px;
}

.profilePicture img {
  border: solid 2px var(--second-color);
  width: 100%;
  border-radius: 50%;
}

.logOutBtn {
  border-radius: 5px;
  padding: 12px 20px;
  background: var(--purple-light-color);
  border: none;
  color: var(--second-color);
  text-transform: uppercase;
  cursor: pointer;
}
