.footer {
  background-color: var(--main-color);
  height: 40px;
  color: var(--second-color);
  margin-top: auto;
  min-height: 40px;
}

.divFooter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
